@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'sf-font', sans-serif; 
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

img {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  cursor: default;
  backface-visibility: hidden; 
}

svg {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  cursor: default;
  backface-visibility: hidden; 
  overflow: hidden;
}

.header {
  position: -webkit-sticky;
  position:
}