@import "tailwindcss";


/* Configuration directly in the CSS file */
@theme {
  /* Extend colors */
  --color-darkBlue: #01377D;
  --color-darkGreen: #7ED348;
  --color-lightGreen: #96f2a5;
  --color-lightBlue: #009DD1;

}


@layer base {
  
  html {
    font-family: 'Poppins', sans-serif; 
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

img,
svg {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  backface-visibility: hidden;

}



.header {
  position: sticky; /* Adjusted to 'sticky' for better browser support */
  top: 0; /* Add this to define where the sticky effect starts */
  z-index: 100; /* Optional: Adjust the stacking context */
}


