@import "tailwindcss";

/* Configuration directly in the CSS file */
@theme {
  /* Extend colors */
  --color-darkBlue: #01377D;
  --color-darkGreen: #7ED348;
  --color-lightGreen: #96f2a5;
  --color-lightBlue: #009DD1;
}

@layer base {

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/poppins-latin-200-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/poppins-latin-300-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/poppins-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/poppins-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/poppins-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'NoteworthySubset';
  src: url('/fonts/subset-Noteworthy-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* Touch improvements */
* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

img,
svg {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  backface-visibility: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

